<div class="container initial-hide">
  <div class="row">
    <div class="col">
      <h1>Channels</h1>
      <ul>
        {{#each messages}}
        <button class="channel-button btn-success" data-name="{{this}}">{{this}}</button>
        <br>
        <br>
        {{/each}}
      </ul>
      <div class="error-holder"></div>
      <form id="message-form">
        Type something: <input type="text" class="message-input" placeholder="Enter a message here">
        <button class="btn-success" type="submit" id="submit-button">Send it!</button>
      </form>
      <button class="btn-success" id="meme-button">Meme Me Bro!!</button>
    </div>
    <div class="col">
      <h1>ChatSpace</h1>
      <h2 class="message-prompt">Click a channel to view messages</h2>
      <br>
      <h2 id="messages-h2">Messages</h2>
      <div class="messages-holder">
        
      </div>
      <div class="images-holder">

      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript">
        $("#meme-button").on("click", function (event) {
          event.preventDefault();
          //$('.messages-holder').empty();
          searchForMeme();
        })
        var searchForMeme = function () {
          var queryURL = "https://api.imgflip.com/get_memes";
          $.ajax({
            url: queryURL,
            method: "GET"
          }).then(function (response) {
            $('.images-holder').empty();
            //console.log(response.data.memes[0].url);
            let memeSelect = Math.floor(Math.random() * 101);
            let newImage = $("<img>");
            newImage.attr("src", response.data.memes[memeSelect].url)
            console.log(response.data.memes[memeSelect].url);
            $(".images-holder").append(newImage);
          });
        }
      </script>
    </div>
  </div>
</div>