.list-group-item {
  line-height: 2.5;
}
.message-input {
  margin-top: 50vh;
}
img {
  width: 250px;
}
#meme-button {
  margin-top: 20px;
}
button {
  border: none;
  border-radius: 3px;
}
#messages-h2 {
  display: none;
}
.messages-holder {
  max-width: 250px;
}
